
         *{
            box-sizing: border-box;
            margin:0px;
        }

        .row
        {
            display:flex;
            flex-wrap:wrap;
        }
        
         [ class*= "col-"]
            {
                width:100%;
            }

        /* class work on Desktop >768 */
        @media only screen and (min-width: 768px) 
        {
            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}
        }

        body{  
            background-image: url(img/form\ bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width:100%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;        
        }

       .form{
        background-color: black;
        opacity:70%;
        width: 50%;
        height: 400px;
        padding: 8px;
        justify-content: center;
        align-items: center;
       }

       .registration{
         font-family: sans-serif;
         padding: 5px;
         margin-top: 10px;
       }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"]{
        background: none;
        border: 2px solid gray;
        border-radius: 4px;
        width: 90%;
        margin: 35px 5px 5px 5px;
        padding: 8px;
       }

       input:hover{
        border-color: white;
        color: white;
       }

       .checkbox{
        text-align: left;
        margin: 25px 5px;
        position: relative;
        align-items: left;
       }

       .button{
        padding: 5px;
        display: block;
        margin:15px auto;
       }

       .button:hover{
        color: rgb(232, 223, 223);
        background-color:rgb(0, 0, 0);
       }